<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Fractals again!</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
  </head>
  <body>
    <div id="header"> New header!
      <button type="button" name="reset"> Reset the fun!</button> <br>
      <p> Hello there! Welcome to a little page full of fractal fun. To see what
        each fractal can do, all you need to do is click the fractal to watch it
        fractate! There's a reset button at the top so you can start again for more
        fun!
      </p>
    </div>
    <script src="{{url_for('static', filename='sketch.js')}}"></script>
    <script src="{{url_for('static', filename='spinskiTriangle.js')}}"></script>
    <script src="{{url_for('static', filename='dragonSegment.js')}}"></script>
    <script src="{{url_for('static', filename='koch.js')}}"></script>
    <script src="{{url_for('static', filename='mandelbrot.js')}}"></script>
  </body>
</html>


<!-- Koch snowflake -->
<!-- Sierpinski Triangle -->
<!-- Dragon curve -->
<!-- Recursive dragon curve-->
<!-- Blancmange curve-->
<!-- Mandelbrot set -->
<!-- Triflake-->
<!-- Apollonian Gasket, Vicsek, pythagorean tree-->
<!-- Hilbert curve-->
